<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3Duyg1jZXpSxqssBFFlEcf_niHYSMkbA</string>
	<key>GCM_SENDER_ID</key>
	<string>447901945064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.kcollect</string>
	<key>PROJECT_ID</key>
	<string>k-collect-5bf42</string>
	<key>STORAGE_BUCKET</key>
	<string>k-collect-5bf42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447901945064:ios:8f502ae2b686e82d29cd5d</string>
</dict>
</plist>